<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/booklist/borrowedAdmin">Borrowed Book(s)</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Books
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Romance</a>
              <a class="dropdown-item" href="#">Mystery</a>
              <a class="dropdown-item" href="#">Fantasy</a>
              <a class="dropdown-item" href="#">Horror and Thriller</a>
              <a class="dropdown-item" href="#">Young adult</a>
              <a class="dropdown-item" href="#">Children's Fiction</a>
              <a class="dropdown-item" href="#">Novel</a>
              <a class="dropdown-item" href="#">Biography and Memoir</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Show all</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Home</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <h1></h1>
  <div class="card text-center">
    <div class="card-header">
      <h1>Hello <%=`${data.username}`%>!</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Borrow books for FREE.</h5>
      <p class="card-text">As we are supporting Students to be more familiar with reading, now we have this feature to encourage every student to read. There are some genres that you can find in the book shelf that you might be interested in. </p>
      <a href="/home/booklist?status=<%=data.role%>&id=<%=data.Profile.id%>" class="btn btn-dark">Check it out!</a>
    </div>
    <div class="card-footer text-muted">
      Enjoy Reading!
    </div>
  </div>
  <br>
  <center>
    <h2>Random Recommendation Just For You!</h2>
  </center>
  <div class="mx-auto" style="width: 1250px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 400px">
          <div class="card-body">
            <h5 class="card-title"><%=book1.title%></h5>
            <p class="card-text"><%=`${book1.author} (${book1.yearOfReleased})`%><br><%=book1.genre%></p>
            <a href="/home/booklist?status=User&id=<%=data.Profile.id%>" class="btn btn-primary">Go!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 400px">
          <div class="card-body">
            <h5 class="card-title"><%=book2.title%></h5>
            <p class="card-text"><%=`${book2.author} (${book2.yearOfReleased})`%><br><%=book2.genre%></p>
            <a href="/home/booklist?status=User&id=<%=data.Profile.id%>" class="btn btn-primary">Go!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 400px">
          <div class="card-body">
            <h5 class="card-title"><%=book3.title%></h5>
            <p class="card-text"><%=`${book3.author} (${book3.yearOfReleased})`%><br><%=book3.genre%></p>
            <a href="/home/booklist?status=User&id=<%=data.Profile.id%>" class="btn btn-primary">Go!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>